<% include partials/header %>
</head>
<body>
    <% include partials/nav %>
    <div class="container custom-container3">
        <div class="text-left">
            <a href="/" class="btn btn-outline-success text-left mt-3">Back</a>
        </div>
        <h1 class="display-2 mt-3">About!</h1>
        <h1 class="mt-5">About Me</h1>
        <p>My name is Yousif Kzeer. I designed this game as a part of my project for CS1XA3. I like coding and spent quite some time on this app. I hope you enjoy it. If you want to read more about me, check out my website: <a href="http://www.yousifkzeer.ca">Yousif Kzeer</a>.</p>
        <h1 class="mt-5">About This App</h1>
        <p>This app took me longer than any other project that I have worked on to produce. Without a course to guide me, I learned how to use web sockets to allow users to have real time updates without latency. I encountered some struggles but overall I am really proud of what I have accomplished. Even if no one else uses the website, I am happy just to use it to play this game with my girlfriend over the phone. You can check out the code for this app on my <a href="https://github.com/Kzeery/MultiCards">GitHub</a>.</p>
    </div>


    <% include partials/footer %>