<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/index.js"></script>
</head>
<body>
    <% include partials/nav %>
    <div class="container custom-container3">
        <div class="text-left">
            <a href="/" class="btn btn-outline-success text-left mt-3">Back</a>
        </div>
        <h1 class="display-2 mt-3">About!</h1>
        <h1 class="mt-5">About Me</h1>
        <p>My name is Yousif Kzeer. I designed this game as a part of my project for CS1XA3. I like coding and spent quite some time on this app. I hope you enjoy it. If you want to read more about me, check out my website: <a href="http://www.yousifkzeer.ca">Yousif Kzeer</a>.</p>
        <h1 class="mt-5">About This App</h1>
        <p>This app took me longer than any other project that I have worked on to produce. Without a course to guide me, I learned how to use web sockets to allow users to have real time updates without latency. I encountered some struggles but overall I am really proud of what I have accomplished. Even if no one else uses the website, I am happy just to use it to play this game with my girlfriend over the phone. You can check out the code for this app on my <a href="https://github.com/Kzeery/MultiCards">GitHub</a>.</p>
    </div>


    <% include partials/footer %>