<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/main.css">
<script src="/scripts/game.js"></script>
</head>
<body>
    <% include partials/nav %>

    <div class="game">
        <div class="enemy d-flex align-items-start justify-content-center">
        </div>
        <div class="send">
            <div class="discard en-disc mt-3 d-flex align-items-center justify-content-center">
                <span class="no-card enemy-discard"></span>
                <span class="no-card enemy-discard"></span>
                <span class="no-card enemy-discard"></span>
                <span class="no-card enemy-discard"></span>
            </div>

            <div class="play d-flex mt-3 align-items-center justify-content-center">
                <span class='deck'></span>
                <span class="no-card" num="0"></span>
                <span class="no-card" num="0"></span>
                <span class="no-card" num="0"></span>
                <span class="no-card" num="0"></span>
            </div>

            <div class="discard you-disc mt-3 d-flex align-items-center justify-content-center">
                    <span class="no-card you-discard"></span>
                    <span class="no-card you-discard"></span>
                    <span class="no-card you-discard"></span>
                    <span class="no-card you-discard"></span>
            </div>
        </div>  
        <div class="you d-flex align-items-end mt-3 justify-content-center">

        </div>
        <button class="btn btn-danger mt-4">End Turn</button>
    </div>
    
    
    <% include partials/footer %>
