<% include partials/header %>
</head>
<body>
    <% include partials/nav %>
    <div class="container custom-container3">
        <div class="text-left">
            <a href="/" class="btn btn-outline-success text-left mt-3">Back</a>
        </div>
        <h1 class="display-2 mt-3"><strong>How to Play</strong></h1>
        <div class="list-group mt-4 row" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active col-md-2" id="list-playing-field-list" data-toggle="list" href="#list-playing-field" role="tab" aria-controls="playing-field">The Playing Field</a>
            <a class="list-group-item list-group-item-action col-md-2" id="list-turn-list" data-toggle="list" href="#list-turn" role="tab" aria-controls="turn">A Turn</a>
            <a class="list-group-item list-group-item-action col-md-2" id="list-goal-list" data-toggle="list" href="#list-goal" role="tab" aria-controls="goal">The Goal</a>
            <a class="list-group-item list-group-item-action col-md-2" id="list-hand-list" data-toggle="list" href="#list-hand" role="tab" aria-controls="hand">Your Hand</a>
            <a class="list-group-item list-group-item-action col-md-2" id="list-discarding-list" data-toggle="list" href="#list-discarding" role="tab" aria-controls="discarding">Discarding</a>
            <a class="list-group-item list-group-item-action col-md-2" id="list-getting-started-list" data-toggle="list" href="#list-getting-started" role="tab" aria-controls="getting-started">Getting Started</a>
        </div>
        
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane show fade active" id="list-playing-field" role="tabpanel" aria-labelledby="list-playing-field-list">
                <div class="media mt-5">
                    <div class="w-50 align-self-center">
                        <img class="mr-3 img-fluid" src="/diagrams/thefield.jpg" alt="Generic placeholder image">
                    </div>
                    <div class="media-body">
                        <h1>The Playing Field</h1>
                        <ol class="list-group text-left mt-5">
                            <li class="list-group-item list-group-item-primary">1. The opponent's hand. You cannot see the cards that the opponent has in their hand but you can see how many cards they have left. At the beginning of a player's turn, they will be dealt cards until they have five cards in their hand.</li>
                            <li class="list-group-item">2. The opponent's goal deck. You can only see the top card of your own and your opponent's goal deck. Each player starts with 15 goal cards at the beginning of the deck. Hover over your own or your opponent's goal deck to see how many cards are left. More about the goal deck can be found in "The Goal" section.</li>
                            <li class="list-group-item list-group-item-primary">3. The opponent's discard piles. Each player has four discard piles that they can play from or into. If there is a card in a discard pile, you can see the top card. Hovering over a card in an opponent's or your own discard pile will show you what cards are in the pile. More on the discard piles can be found in the "Discarding" section.</li>
                            <li class="list-group-item">4. The deck. The deck starts off with 162 cards - 12 of each card from 1-12 and 18 "Pass" cards - and automatically shuffles itself when empty. Each card has the value shown on it, and "Pass" cards can take on any value you decide. The deck image contains no functionality when actually playing the game.</li>
                            <li class="list-group-item list-group-item-primary">5. The playing piles. On their turn, either player can play cards from their hand, their discard piles, or their goal piles into one of the playing four playing piles. Hover over a playing pile to see the value of the top card. More about how to play can be found in the "A Turn" section.</li>
                            <li class="list-group-item">6. Your discard piles. Each player has four discard piles that they can play from or into. If there is a card in a discard pile, you can see the top card. Hovering over a card in an opponent's or your own discard pile will show you what cards are in the pile. More on the discard piles can be found in the "Discarding" section.</li>
                            <li class="list-group-item list-group-item-primary">7. Your hand. At the beginning of a player's turn, they will be dealt cards until they have five cards in their hand.</li>
                            <li class="list-group-item">8. Your goal deck. You can only see the top card of your own and your opponent's goal deck. Each player starts with 15 goal cards at the beginning of the deck. Hover over your own or your opponent's goal deck to see how many cards are left. More about the goal deck can be found in "The Goal" section.</li>

                        </ol>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="list-turn" role="tabpanel" aria-labelledby="list-turn-list">
                <h1 class="mt-5">A Turn</h1>
                <section class="text-left mx-5">
                    <h4>Start Turn</h4>
                    <p>When your turn begins, you will be dealt new cards until you have five cards in your hand. During your turn you can play cards from your hand, your discard pile, or your goal deck. Unless you have no cards left in your hand, you must discard a card into a discard pile before you can end your turn.</p>
                </section>
                <section class="text-left mx-5">
                    <h4>Playing Cards</h4>
                    <p>You play cards from your discard pile, your goal pile, or your hand into one of the four playing piles. In order to play a card, the card's value must be one greater than the value of the top card in the pile. If the playing pile is empty, a 1 card can start the pile. When the pile reaches 12, it automatically discards itself and the pile becomes empty again. You can play as many cards as you want on each turn given that they can be played. <strong>Note: </strong>a "Pass" card can take any value. You can play it as any card you like.</p>
                    <p>To actually play a card, you must click the card that you wish to play when it is your turn. The card will be highlited in green to indicate that you have selected that card. Click on a pile that the card can be played on to play that card in the pile. If the card cannot be played in that pile, the card will not be played.</p>
                </section>
                <section class="text-left mx-5">
                    <h4>Ending a Turn</h4>
                    <p>When you decide that you do not want to play any more cards, or have no more playable cards, you must end your turn. In order to end your turn, you must discard one card from your hand into a discard pile by selecting it and clicking on a discard pile. When you have discarded a card, a button will appear under your hand that ends your turn when clicked. This button will also appear if you have no cards left to discard.</p>
                </section>
            </div>
            <div class="tab-pane fade" id="list-goal" role="tabpanel" aria-labelledby="list-goal-list">
                <h1 class="mt-5">The Goal</h1>
                <section class="text-left mx-5">
                    <h4>The Objective of the Game</h4>
                    <p>When a game starts, each player will be given 15 cards in their goal deck. The objective of the game is to play all 15 cards of the goal deck before your opponent does. You can only see the top card in your own and your opponent's goal deck but you can play as many cards as you like from your goal deck on each turn. When you play a card from the goal deck, the next card shows for you to play it.</p>
                </section>
                <section class="text-left mx-5">
                    <h4>The Importance of the Goal</h4>
                    <p>Many new players fail to realize that their goal deck is the most important place to play from. Usually, you want to avoid helping your opponent play their goal card while trying to play your own. Many players get caught up with playing the cards they have in their hand while disregarding the goal pile. Usually, you'll want to play from your goal pile first before playing from your hand or discard piles if you can, such that you can see the next card in your goal deck and play around it.</p>
                </section>
            </div>
            <div class="tab-pane fade" id="list-hand" role="tabpanel" aria-labelledby="list-hand-list">
                <h1 class="mt-5">Your Hand</h1>
                <section class="text-left mx-5">
                    <h4>Some Tips About Your Hand</h4>
                    <p>"Pass" cards are what will help you out more than anything. You'll want to make sure that when you get them in your hand, you use them effectively because they can be played as any card. You want to make sure that you're either using your "Pass" card to play from your goal deck on that turn or stop your opponent from playing their goal card by playing the value yourself. </p>
                    <p>Your hand is the only information that is hidden from your opponent. When discarding cards, it may be a better idea to discard cards that are not useful or cards your opponent can already see in order to hide the useful cards you do have.</p>
                    <p>It is a good idea to strategize what to play and when to play it. Playing cards that are not currently useful to you is good because it means that you will get more new cards in your hand on the next turn. However, it may be harmful to do so if playing those cards brings your opponent closer to playing their current goal card.</p>
                </section>
            </div>
            <div class="tab-pane fade" id="list-discarding" role="tabpanel" aria-labelledby="list-discarding-list">
                <h1 class="mt-5">Discarding</h1>
                <section class="text-left mx-5">
                    <h4>Discarding Cards</h4>
                    <p>You can only discard cards from your own hand into your own 4 discard piles. You can discard one card on each turn into an empty discard pile or on top of a discard pile with card(s) already in it. You can only see the top cards in the discard piles, but hovering over any pile with your mouse will tell you what cards are currently in that pile.</p>
                </section>
                <section class="text-left mx-5">
                    <h4>Playing From the Discard Pile</h4>
                    <p>In the same manner as your hand and your goal deck, you can play as many cards as you want from your discard piles into the playing piles. You can only play the top card of any discard pile into the playing area by selecting it and then clicking on a playing pile. In doing so, the card will be played and the next card below will be shown and playable. However, you cannot play a card into the playing area on the same turn that you discarded it.</p>
                </section>
                <section class="text-left mx-5">
                    <h4>Tips About Discarding</h4>
                    <p>The name "discarding" can be misleading because it makes it seem like cards you discard are immediately useless, but that is not the case. Cards you discard are always playable and are always useful to you.</p>
                    <p>You only have four discard piles. It may seem like plenty to begin with but it is very limited. You want to make sure all your discard piles are playable which means discarding cards strategically. 
                        Discarding an 11 over a 6, for example, can be harmful if you need the 6 below it but cannot use it because there is an 11 blocking it that you cannot play. Ideally, there are 2 ways that you will want to discard your cards. Firstly, discard cards with the same value on top of eachother; some games you get unlucky and end up with 5 12s by turn 3. It happens, but if you discard them all into the same pile, you are not blocking anything that you would potentially want to play. Secondly, you want to discard cards in decreasing order such that you can play them in order. If I have a hand of 4,5,3,6,11 in my hand and I need to discard something, it is a good idea to discard the 6 first, then the 5 on top of that, then the 4, then the 3. That way, when a 2 is played in a playing pile, I can play the 3, then the 4 under, then the 5, and lastly the 6. If you discard random cards on top of eachother, many will become inaccessible when you need them. </p>
                </section>
            </div>
            <div class="tab-pane fade" id="list-getting-started" role="tabpanel" aria-labelledby="list-getting-started-list">
                <h1 class="mt-5">Getting Started</h1>
                <section class="text-left mx-5">
                    <h4>Make an Account</h4>
                    <p>Making an account is quick and easy, but also required to play. Click the sign up button to sign up with just a username and a password.</p>
                </section>
                <section class="text-left mx-5">
                    <h4>Find a Friend</h4>
                    <p>Card Game is a two player game which means you'll need a friend to play with you. When you and your friend have both made accounts, you can add them by clicking on the "Add Friend" button at the top and searching up their name. They can accept your friend request by pressing the "Pending Friend Requests" button at the top and clicking on the green checkmark.</p>
                </section>
                <section class="text-left mx-5">
                    <h4>Make Sure Your Friend is Online</h4>
                    <p>Your friend will need to be online in order to play with you. To check your online friends, click on the "Friends" button. It tells you how many friends you have online, and shows a dropdown list of all your friends with the online ones highlighted in green.</p>
                </section>
                <section class="text-left mx-5">
                    <h4>Invite Your Friend</h4>
                    <p>If your friend is online, click on the "Friends" button and hover over their name in the dropdown menu. You can invite them by clicking on the green invite button that appears under their name. They will get a notification in the bottom right corner indicating that you have invited them. If they click accept, you will be redirected to the game. You can also check their match history by clicking on "Match History", and you can check your own match history by clicking on the "Signed In As: {username}" button. </p>
                </section>
            </div>
        </div>
    </div>
          
    
    <% include partials/footer %>