html, body {
    min-height: 100%;
}
body {
    background-image: url("../cards/table.jpg");
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.game {
    text-align: center;
    padding-top: 2rem;
}
.card {
    width: 10vh;
    height: 14.8vh;
    display: inline-block;
    background-position: center center;
    background-size: cover;
    margin-right: 5px;
    margin-left: 5px;
    border: none;
    border-radius: 4%;
}
.deck {
    height: 14.8vh;
    border-radius: 3%;
    display: inline-block;
    background-position: center center;
    background-size: cover;
    width: 17.05vh;
    background-image: url("../cards/deck.jpg");
}

.no-card {
    width: 10vh;
    height: 14.8vh;
    border: 2px dashed black;
    border-radius: 5%;
    margin-right: 5px;
    margin-left: 5px;
}
.selected {
    border: 4px solid lightgreen;
}

.tooltip1 {
    width: 150px;
    background-color: beige;
    text-align: center;
    border-radius: 8%;
    opacity: 1 !important;
    /* Position the tooltip */
    position: absolute;
    left: 102%;
    top: 5px;
    z-index: 1;
    text-align: left;
}


.gameover {
    position: absolute;
    right: 0;
    left: 0;
    top: 30%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5%;
    z-index: 1;
    background-color: white;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.3);
    text-align: center;
    min-height: 30em;
    width: 90%;
    max-width: 750px;
}
