body {
    color: purple;
}
.game {
    text-align: center;
}
.card {
    width: 100px;
    height: 148px;
    display: inline-block;
    background-position: center center;
    background-size: cover;
    margin-right: 5px;
    margin-left: 5px;
    border: none;
}
.deck {
    height: 148px;
    border-radius: 3%;
    display: inline-block;
    background-position: center center;
    background-size: cover;
    width: 171px;
    background-image: url("../cards/deck.jpg");
}

.no-card {
    width: 100px;
    height: 148px;
    border: 2px dashed black;
    border-radius: 5%;
    margin-right: 5px;
    margin-left: 5px;
}
.selected {
    border: 4px solid lightgreen;
}